<div class="link-items clearfix">
    <ul>
        <li class="top-links" id="github"><a href="https://github.com/jamesjkim88"><i class="fa fa-github-alt fa-3x"></i></a></li>
        <li class="top-links"><a href="https://linkedin.com/in/jameskim88"><i class="fa fa-linkedin fa-3x"></i></a></li>
    </ul>
</div>
<div class="container">
    <h1 class="name first">James</h1>
    <h1 class="name last move-up">Kim</h1>
    <nav>
        <ul class="list">
            <li class="nav-links"><span><a ui-sref="about">About Me</a></span></li>
            <li class="nav-links"><span><a ui-sref="portfolio">My Work</a></span></li>
            <li class="nav-links"><span><a ui-sref="contact">Resume</a></span></li>
        </ul>
    </nav>
    <div class="landing-row">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <a href="http://bitcoinexchangerate.herokuapp.com" target="_blank">
                <div class="imgContainer">
                    <img src="../img/bitcoin.png" alt="">
                </div>
                <div class="titleNcaption">
                    <p class="caption">Check Bitcoin's rate in multiple currencies</p>
                 </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="http://movierevu.herokuapp.com/" target="_blank">
                    <div class="imgContainer">
                        <img src="../img/movierevu.png" alt="">
                    </div>
                    <div class="titleNcaption">
                        <p class="caption">Come and see recent movies critqued by New York Times movie critics.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="imgContainer">
                    <img src="../img/flyhawaii.png" alt="">
                </div>
                <div class="titleNcaption">
                    <p class="caption">Come and see what you can do in all 6 Hawaiian Islands.</p>
                </div>
            </div>
        </div>
    </div>
</div>