<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="about" class="resume-nav-links">About Me</a></li>
        <li><a ui-sref="portfolio" class="resume-nav-links">My Work</a></li>
        <li class="active"><a ui-sref="professional-bio" class="resume-nav-links">Professional Bio <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container profileContainer">
  <div class="row headerRow">
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 noMargin">
      <h1 class="headerTitle">James Kim <span class="right"><i class="fa fa-chevron-up" aria-hidden="true"></i></span></h1>
    </div>
  </div>
  <div class="row show">
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 border-this">
      <br>
      <p class="posNcity">
        Front End Web Developer | San Jose, CA
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Build a website from scratch using <strong>HTML4/5</strong>, <strong>CSS2/3</strong>, and <strong>JavaScript</strong>.
          </p>
        </li>
        <li>
          <p>
            Focus on User-Interaction with User-Friendly UI, and applying UX to any end product.
          </p>
        </li>
        <li>
          <p>
            Having a mindset of Mobile first using Grid Systems from <strong>Twitter Bootstrap</strong> or own custom Grid System using <strong>SASS</strong>.
          </p>
        </li>
        <li>
          <p>
            <strong>jQuery</strong>/<strong>JavaScript</strong> for behavioral DOM interactions/manipulations.
          </p>
        </li>
        <li>
          <p>
            Utilize <strong>Webpack</strong> to bundle modules and used with <strong>ReactJS</strong>.
          </p>
        </li>
        <li>
          <p>
            More than basic amount of knowledge with back-end services utilizing <strong>Node.js</strong> with <strong>Express</strong> using <strong>promises</strong> and creating <strong>RESTful APIs</strong>.
          </p>
        </li>
        <li>
          <p>
            Designed data schemas and data tables using <strong>MongoDB</strong> with <strong>Mongoose</strong> and <strong>MySQL</strong> with <strong>Sequalize</strong> and <strong>WorkBench</strong>.
          </p>
        </li>
      </ul>
    </div>
  </div>
<br>
  <div class="row headerRow">
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 noMargin">
      <h1 class="headerTitle">Work History <span class="right"><i class="fa fa-chevron-up" aria-hidden="true"></i></span></h1>
    </div>
  </div>
  <div class="row show">
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 border-this">
      <br>
      <p class="posNcity">
        Go-Live Labs | UI Developer <span style="float: right;">Sept 2015 - Jun 2016</span>
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Designed and developed dynamic web apps and websites.
          </p>
        </li>
        <li>
          <p>
            Prototyped and built a Google Chrome Extension.
          </p>
        </li>
        <li>
          <p>
            Involved in analyzing User-­Interface for a better User­-Experience and user flow.
          </p>
        </li>
        <li>
          <p>
            Utilized <strong>Passport</strong> with <strong>OAuth2</strong> for Linkedin, Facebook, and Google+ authentication.
          </p>
        </li>
        <li>
          <p>
            Created and utilized <strong>RESTful APIs</strong>.
          </p>
        </li>
        <li>
          <p>
            Participated in meetings utilizing <strong>Agile</strong> and <strong>Scrum</strong> methodology.
          </p>
        </li>
      </ul>
<br>
      <p class="posNcity">
        United States Marine Corps | Administrative Specialist <span style="float: right;">Jun 2009 - May 2013</span>
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Two Combat Deployments to Afghanistan for a total of 14 months.
          </p>
        </li>
        <li>
          <p>
            Participated in over 250 foot and mobile security patrols as main firepower.
          </p>
        </li>
        <li>
          <p>
            Stood over 5112 hours of guard/post providing security for Marines on base.
          </p>
        </li>
        <li>
          <p>
            Trained Afghan National Army on proper patrol techniques and proper weapons handling.
          </p>
        </li>
        <li>
          <p>
            Performed duties as a Legal Clerk servicing Marines with their legal needs.
          </p>
        </li>
        <li>
          <p>
            Organized and filed over 1500 files with sensitive information.
          </p>
        </li>
        <li>
          <p>
            Maintained and accounted for over 1000 Marines in a battalion and atleast $75,000 worth of gear and
equipment coming in out of countries and states.
          </p>
        </li>
      </ul>
    </div>
  </div>
<br>
  <div class="row headerRow">
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 noMargin">
      <h1 class="headerTitle">Recent Projects <span class="right"><i class="fa fa-chevron-up" aria-hidden="true"></i></span></h1>
    </div>
  </div>
  <div class="row show">
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 border-this">
      <br>
      <p class="posNcity">
        UXFeed | Go Live Labs
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Prototyped and revamped the Chrome extension with <strong>HTML4/5</strong>, <strong>CSS2/3</strong>, <strong>Bootstrap</strong>, and <strong>AngularJS</strong>.
          </p>
        </li>
        <li>
          <p>
            Utilized <strong>Node.js</strong> to create a server which pulls Tweets from Twitter API to display on the UXFeed Extension.
          </p>
        </li>
        <li>
          <p>
            Prototyped Front End for UXFeed website using <strong>ReactJS</strong> with <strong>Webpack</strong>.
          </p>
        </li>
      </ul>
      <br>
      <p class="posNcity">
        Bitcoin Exchange Rate | Own Product/Project
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Prototyped and revamped the Chrome extension with <strong>HTML4/5</strong>, <strong>CSS2/3</strong>, <strong>Bootstrap</strong>, and <strong>AngularJS</strong>.
          </p>
        </li>
        <li>
          <p>
            Utilized <strong>Node.js</strong> to create a server which pulls Tweets from Twitter API to display on the UXFeed Extension.
          </p>
        </li>
        <li>
          <p>
            Prototyped Front End for UXFeed website using <strong>ReactJS</strong> with <strong>Webpack</strong>.
          </p>
        </li>
      </ul>
      <br>
      <p class="posNcity">
        MovieRev'u | Own Product/Project
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Prototyped and revamped the Chrome extension with <strong>HTML4/5</strong>, <strong>CSS2/3</strong>, <strong>Bootstrap</strong>, and <strong>AngularJS</strong>.
          </p>
        </li>
        <li>
          <p>
            Utilized <strong>Node.js</strong> to create a server which pulls Tweets from Twitter API to display on the UXFeed Extension.
          </p>
        </li>
        <li>
          <p>
            Prototyped Front End for UXFeed website using <strong>ReactJS</strong> with <strong>Webpack</strong>.
          </p>
        </li>
      </ul>
      <br>
      <p class="posNcity">
        flyHawai'i | Own Product/Project
      </p>
      <ul class="listSkills">
        <li>
          <p>
            Prototyped and revamped the Chrome extension with <strong>HTML4/5</strong>, <strong>CSS2/3</strong>, <strong>Bootstrap</strong>, and <strong>AngularJS</strong>.
          </p>
        </li>
        <li>
          <p>
            Utilized <strong>Node.js</strong> to create a server which pulls Tweets from Twitter API to display on the UXFeed Extension.
          </p>
        </li>
        <li>
          <p>
            Prototyped Front End for UXFeed website using <strong>ReactJS</strong> with <strong>Webpack</strong>.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
